@media screen and (min-width: 1024px) {

    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 20px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #a1a1a1;
        border-radius: 20px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
    
    .conteudo {
        display: grid;
        padding: 40px;
    }

    .display1024Y {
        display: contents !important;

    }

    .display1024N {
        display: none !important;
    }

    /*---------------------------------------------*/
    /*Area de apresentação*/

    .apresentacaoImg img {
        height: 450px;
    }

    /*---------------------------------------------*/
    /*Oil map: barra de pesquisa*/

    .pesquisa {
        width: 80%;
    }

    /*---------------------------------------------*/
    /*Oil map: mapa*/

    .oilmap {
        height: 90vh;
    }

    .mapa_pesquisa {
        width: 75%;
        height: 100%;
    }

    .mapa {
        height: 95%;
        text-align: center
    }

    .mapa img {
        width: auto;
        height: 100%;
    }

    /*---------------------------------------------*/
    /*Oil map - Controles:*/

    .controles {
        width: 25%;
        height: 100%;
        margin-left: 10px;
        background-color: #F8F8F8;
        border-radius: 20px;
        font-size: 1.2rem;
    }

    .painel_documentos {
        height: 94%;
    }

    .selecionar {
        width: 100%;
        display: grid;
    }

    .selectOpcPar {
        width: 100%;
        display: flex;
    }

    .opc {
        width: 50%;
    }

    .opcoesDivision p{
        width: 20%;
    }

    /*---------------------------------------------*/
    /*Novidades-NewsLetter*/

    .intro {
        width: 100%;
    }

    .novidade_chatbot {
        width: 100%;
        margin-top: 20px;
        display: flex;
    }

    .novidade,
    .chatBot {
        width: 50%;
    }

    .newsletter {
        width: 100%;
        display: grid;
    }

    .formContainer {
        width: 100%;
    }

    .formulario {
        width: 80%;
        margin: auto;
    }

    /*---------------------------------------------*/
    /*Chatbot*/

    .formModal {
        position: relative;
        z-index: 0;
        width: 80%;
        height: 500px;
        background-color: #F8F8F8;
        font-size: 1rem;
        display: block !important;
        border-radius: 15px;
        padding: 5px;
        margin: 20px auto;
        text-align: justify;
    }

    .titleCloseBot{
       display: none;
    }

    .botControl {
        height: 30px;
    }

    .bot {
        height: 98%;
    }

    /*---------------------------------------------*/
    /*Footer*/

    .footerNavegation {
        width: 100%;
    }

    footer {
        display: grid;
    }

    /*---------------------------------------------*/
    /*menu*/

    .menuSuperior {
        padding: 0;
    }

    .menuSopt {
        display: flex;
        position: absolute;
        right: 0px;
        width: 700px;
    }

    .menuAconjunto {
        display: flex;
        align-items: center;

    }

    .menuSopt p {
        padding: 10px;
        color: #008542;
    }
}