/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "khand";
    font-weight: 400;
    font-style: normal;
}

.conteudo {
    width: 100;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.menuSuperior {
    display: none;
}

.halfImg {
    display: none;
}

.titulo_intro_Conjunto h3 {
    display: none;
}

.menuAconjunto {
    display: none;
}

.display375Y {
    display: contents !important;
    ;
}

.display375N {
    display: none !important;
}

/*---------------------------------------------*/
/*Faixa superior*/

.faixa {
    background-color: #F8F8F8;
    padding: 10px;
}

.faixa span {
    color: #008542;
    font-weight: bold;
}

/*---------------------------------------------*/
/*Area de apresentação*/

.apresentacao img {
    width: 100%;
}

.titulo {
    display: flex;
    font-size: 1.75rem;
    color: #008542;
    white-space: nowrap;
}

h3 {
    font-weight: bold;
}

.conteudo .titulo hr {
    width: 100%;
    height: 3px;
    margin: auto 0;
    background-color: #008542;
    border: none;
    border-radius: 20px;
}

/*---------------------------------------------*/
/*Oil map: barra de pesquisa*/

.pesquisa {
    width: 100;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    padding: 2px;
    margin: auto;
}

.pesquisa input {
    width: 90%;
    border: none;
    background-color: #D9D9D9;
}

/*---------------------------------------------*/
/*Oil map: mapa*/

.mapa {
    background-color: #90DAEE;
    border: 2px solid #AAAAAA;
    border-radius: 20px;
    margin-top: 10PX;
}

.mapa img {
    width: 100%;
}

/*---------------------------------------------*/
/*Oil map - Controles: Selecionar*/

.selecionar {
    width: 100%;
    display: flex;
    padding: 5px;
}

.selectOpcPar {
    width: 50%;
    display: flex;
}

.opc {
    text-align: center;
    width: 50%;
}

/*---------------------------------------------*/
/*Oil map - Controles: Painel*/

.painel {
    width: 100;
    background-color: #F8F8F8;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    height: 130px;

}

.overflow {
    width: 50%;
    overflow: scroll;
    padding: 10px;
    overflow-x: hidden;
}

.separador {
    width: 1px;
    height: 100%;
    background-color: #AAAAAA;
    border-radius: 2px;
}

/*Painel: opções*/

.opcoes {
    display: flex;
    text-align: justify;
}

/*Painel: resultado*/

.resultado {
    display: inline;
    text-align: left;
}

/*---------------------------------------------*/
/*Oil map - Controles: Documento*/

.documento {
    width: 100;
    display: flex;
    padding: 10px;
}

.documento .conteudo {
    display: flex;
    margin: auto;
}

.documento img {
    width: 55px;
}

/*---------------------------------------------*/
/*Novidades-NewsLetter Intro*/

.intro {
    width: 100;
    padding: 5px;
}

.introConjunto {
    width: 85%;
    display: flex;
    margin: auto;
}

.introConjunto p {
    margin: auto 0;
}

.introConjunto span {
    font-weight: 550;
}

.novConjunto span {
    color: #008542;
}

.introConjunto img {
    height: 100px;
    padding: 3px;
}

/*---------------------------------------------*/
/*Novidades-NewsLetter Formulario*/

.formulario {
    width: 100;
    background-color: #F8F8F8;
    border-radius: 15px;
    padding: 10px;
    display: flex;
}

.formEmail {
    width: 100%;
}

.formulario input[type="email"] {
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    width: 80%;
    padding: 3px;
}

.formulario button[type="submit"] {
    border: none;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
}

.conteudo hr {
    border: none;
    border-radius: 2px;
    background-color: #AAAAAA;
    margin: 30px 0;
    height: 2px;
}


/*---------------------------------------------*/
/*Chatbot*/

.formModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
    font-size: 1rem;
    display: none;
}

.bot {
    padding: 5px;
    height: 100%;

}

.botChatcontainer {
    height: 90%;
    padding: 5px;
    overflow: scroll;
    overflow-x: hidden;
}

.botControl {
    padding: 5px;
    height: 5%;
    display: flex;

}

.botControl input[type='text'] {
    width: 85%;
    height: 25px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    padding: 5px;
    
}

.botControl button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 35px;
    background-color: #D9D9D9;
    align-items: center;
    margin-left: 2px;
}

.textChatContainer{
    width: 100%;
    display: flex;
}

.textoConfig{
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.bot i{
    width: 10px;
    position: relative;
    top: 10%;
    transform: translateX(-50%);
    color: #797979;
}

.textoUsuario {
   margin-left: auto;
}

.botChatcontainer img{
    width: 35px;
}

/*---------------------------------------------*/
/*Footer*/

footer {
    text-align: center;
    background-color: #F8F8F8
}

footer hr {
    height: 1px;
    border: none;
    background-color: #D2D2D2;
}

.footerIcon img {
    padding: 20px;
    width: 250px;
    margin-bottom: 50px;
}

.footerIcon {
    background-color: #FFFFFF;
}


.footerNavegation {
    display: grid;
}

/*---------------------------------------------*/
/*menu*/

.menu {
    position: sticky;
    z-index: 2;
    bottom: -1px;
    border-top: 1px solid #D2D2D2;
    background-color: #FFFFFF;
    display: flex;
    text-align: center;
}

.bolinhaFlutua {
    z-index: 3;
    position: relative;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 65px;
    height: 65px;
    border-radius: 65px;
    background-color: white;
    border: 4px solid #D2D2D2;
}

.conjuntoMenu {
    width: 20%;
}

.menu img {
    align-self: center;
    width: 30px;
}

.bolinhaFlutua img {
    width: 35px;
    padding: 15px 0;
}

.menu .imagem {
    width: 100%;
}