@media screen and (min-width: 768px) {

    

    .display768Y {
        display: contents !important;
    }

    .display768N {
        display: none !important;
    }

    /*---------------------------------------------*/
    /*Area de apresentação*/

    .apresentacaoImg {
        display: flex;
        width: 100%;
    }

    .halfImg {
        display: block;
    }

    .titulo h3 {
        display: none;
    }

    .fullImg {
        display: none;
    }

    .apresentacao img {
        width: 50%;
    }

    .conteudo .titulo hr {
        width: 100%;
        height: 2px;
        background-color: #AAAAAA;
        border: none;
        border-radius: 20px;
        margin: 20px 0px;
    }

    .opcoesDivision p{
        width: 25%;
    }

    /*---------------------------------------------*/
    /*Oil map: pesquisa_mapa*/

    .oilmap {
        display: flex;
    }

    .oilmap hr {
        height: 1px;
        margin: 5px !important;
    }


    .mapa_pesquisa {
        width: 60%;
        height: 500px;
    }

    .mapa {
        padding: 10px;
        overflow-x: hidden;
        border-radius: 20px;
        height: 425px;
    }


    /*---------------------------------------------*/
    /*Oil map - Controles*/

    .controles {
        width: 40%;
        height: 500px;
        margin-left: 10px;
    }


    .separador {
        display: none;
    }

    /*---------------------------------------------*/
    /*Oil map - Controles: Painel*/

    .painel {
        display: grid;
        height: 75%;
    }

    .overflow {
        width: 90%;
        overflow: scroll;
        padding: 10px;
        overflow-x: hidden;
    }

    .painel_documentos {
        background-color: #F8F8F8;
        border-radius: 20px;
        height: 90%;
    }

    /*---------------------------------------------*/
    /*Novidades-NewsLetter*/

    .newsletter {
        display: flex;
    }

    .intro {
        width: 60%;
        text-align: center;
        font-size: 1.3rem;
    }

    .introConjunto img {
        height: 120px;
    }

    .introConjunto {
        text-align: left;
    }

    .formulario {
        margin-top: 20%;
    }

    .formContainer {
        width: 40%;
        text-align: center;
    }

    .titulo_intro_Conjunto {
        width: 100%;
    }

    .titulo_intro_Conjunto h3 {
        display: inline;
        color: #008542;
        font-size: 3rem;
    }

    /*---------------------------------------------*/
    /*Chatbot*/

    .chatBot h3 {
        color: #373737;
    }

    .chatBot span {
        display: none;
    }

    .bot{
        padding: 10px;
    }

    /*---------------------------------------------*/
    /*Footer*/

    .footerIcon {
        display: none;
    }

    footer {
        display: flex;
    }

    .COPYRIGHT {
        margin: auto 30px;
    }

    .footerNavegation {
        width: 50%;
    }

    /*---------------------------------------------*/
    /*menu*/
    .menu {
        display: none;
    }

    .menuSuperior {
        display: flex;
        padding: 0px 50px;
    }

    .menuSuperior img {
        height: 50px;
    }

    .menuSopt {
        text-align: right;
        width: 100%;
    }
}